<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Wormz At War</title>
    <script type="text/javascript" src="{% static 'mapdata.js' %}"></script>
    <script type="text/javascript" src="{% static 'worldmap.js' %}"></script>
  </head>
  <body>
    <h1 id="Title-Card">WORMZ AT WAR</h1>
    <h2>Lobby ID: {{ LobbyPK }}</h2>
    <div id="map"></div>
    <div id="userList">
      {% for User in Users %}
          <p> {{ User.username }} </p>
      {% endfor %}
      </div>
	</body>
</html>