<!DOCTYPE html>
<html>
    
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <a id="signout" href="/signout/" type="button" method="POST">Signout</a>
        <a id="newLobby" href="/newlobby/" type="button">New Lobby</a>
    </head>
    <body>
        <ul id="inLobbyList">
            <li>
                <p>Lobbies:</p>
            </li>
        {% for Lobby in Lobbys %}
            <li>
            <a href="/game/{{ Lobby.lobbyPK }}">
                {{ Lobby.lobbyPK }}
            </a>
            </li>
        {% endfor %}
        </ul>
    </body>
</html>