#userList {
  all:unset;
  display: table;
  margin-right: auto;
  margin-left: auto;
}

h1, h2 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

form {
  position: absolute;
  top:50%;
  left:50%;
  margin: -2.5% 0 0 -7.5%;
}

#inLobbyList {
  all:unset;
  margin-right: auto;
  margin-left:auto;
  display:table;
  align-content: center;
  outline: black;
}

li {
  all: unset;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}

#newLobby {
  all: unset;
  background-color: aquamarine;
  padding: 5px 10px;
  border-radius: 4px;
  position: absolute;
  top:0%;
  left:0%;
}
#newLobby:focus {
  outline: 1px solid black;
}

#signout {
  all: unset;
  background-color:aquamarine;
  padding: 5px 10px;
  border-radius: 4px;
  position: absolute;
  top: 0%;
  right: 0%;
}
#signout:focus {
  outline: 1px solid darkblue;
}

li a {
  text-decoration: none;
  color: black;
  display: block;
}

li a:hover {
  text-decoration: none;
  color: #000000;
  background-color: #33B5E5;
}

 /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  right:0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all ease-out .5s;
}

.dropdown-content a:active {
  filter: brightness(0.7);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 